.message-detail-wrapper {
    padding: 30px;
    display: flex;
    height: 400px;
    position: absolute;
    z-index: 30;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #fff;
    border: 1px rgba(0, 0, 0, .5) solid;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.message-detail-info {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 10px;
}

.author {
    color:rgb(23, 23, 101);
}

.close-icon {
    width: 25px;
    height: 32px;
    background-image: url(../../assets/img/close-icon.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.text {
    text-align: start;
    line-height: 1.4rem;
}

.date {
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding-top: 10px;
}